/* Personalizzazione della navbar */
.custom-navbar {
    background-color: #fc766d;
    /* Colore di sfondo più scuro */
}

.custom-navbar .navbar-brand {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #ecf0f1;
}

.custom-navbar .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #00ff40;
    /* Colore arancio per hover */
}

.custom-navbar .navbar-toggler {
    border-color: #ecf0f1;
}

.custom-navbar .navbar-toggler-icon {
    background-color: #ecf0f1;
}

/* Personalizzazione dello stato attivo */
.custom-navbar .navbar-nav .nav-link.active {
    color: #00ff40;
    font-weight: 600;
}
#testo_footer {
    text-align: center;

}
footer {
  position: fixed;
  bottom:0;
  width: 100%;
}
.logo{
    width: 70%;
    min-width: 50px; /* Impone una larghezza minima di 5px */
}
.titolo{
    text-align: center;
}
.crudo{
    width: 10%;


}
.parametriLibro{
    display: inline;
}
.book{
    display: inline-block;
    margin: 7%;
    margin-top: 1%;
}
img.parametriLibro{
    width: 100%;
}
.rimpicciolimento{
    width: 25%;
}
.rimpicciolimento2{
    width: 15%;
}
#logoCarrello{
    width: 12%;
    min-width: 50px; /* Impone una larghezza minima di 5px */
}
#book-details {
    display: block;
}
.book-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.book-image {
    width: 150px;
    height: auto;
    cursor: pointer;
}
#banner-offerta{
    background-color:#ffcc00;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}
.nav-linkAttivo{
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
    display: inline-block;
}
.nav-linkAttivo:hover{
    color: #00ff40;
}
.nav-linkAttivo {
    color: #00ff40;
    font-weight: 600;
}

