/* Personalizzazione della navbar */
.custom-navbar {
    background-color: #fc766d;
    /* Colore di sfondo più scuro */
}

.custom-navbar .navbar-brand {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #ecf0f1;
}

.custom-navbar .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #00ff40;
    /* Colore arancio per hover */
}

.custom-navbar .navbar-toggler {
    border-color: #ecf0f1;
}

.custom-navbar .navbar-toggler-icon {
    background-color: #ecf0f1;
}

/* Personalizzazione dello stato attivo */
.custom-navbar .navbar-nav .nav-link.active {
    color: #00ff40;
    font-weight: 600;
}
#testo_footer {
    text-align: center;

}
/*footer {
  position: fixed;
  bottom:0;
  width: 100%;
}*/
.logo{
    width: 70%;
    min-width: 50px; /* Impone una larghezza minima di 5px */
}
.titolo{
    text-align: center;
}
#book-container{
    width: 100%;
}
    .parametriLibro{
        display: inline;
    }

.book-image {
    width: 100%;
    height: auto;
    display: block; /* Assicura che le immagini si comportino come blocchi */
    object-fit: cover; /* Impedisce la distorsione dell'immagine */
}
img.parametriLibro {
    width: 100%;
    min-width: 150px; /* Impone una larghezza minima per evitare che l'immagine sia troppo piccola */
    height: auto;
}
#book-container {
    width: 100%;
    max-width: 1200px; /* Aggiungi un max-width per evitare che la larghezza diventi troppo grande su schermi più larghi */
}

#logoCarrello{
    width: 12%;
    min-width: 50px; /* Impone una larghezza minima di 5px */
}
#book-details {
    display: block;
}
.book-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.nav-linkAttivo{
    color: black;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
    display: inline-block;
}
.nav-linkAttivo:hover{
    color: #00ff40;
}
.nav-linkAttivo {
    color: #00ff40;
    font-weight: 600;
}

/* Ogni libro avrà una larghezza del 30% e spazio tra i libri */
.book {
    width: 60%;
    margin: 10px 0;
    text-align: center;
    display: block;
}

/* La classe base per le immagini */
.book-image {
    width: 100%; /* Imposta la larghezza delle immagini al 100% del contenitore */
    height: auto; /* Mantieni le proporzioni dell'immagine */
    max-width: 250px; /* Impone un limite massimo alla larghezza per evitare immagini troppo grandi */
    object-fit: cover; /* Mantiene l'aspetto delle immagini senza distorsioni */
}

/* Classe per le immagini rimpicciolite (ridurre la larghezza al 70%) */
.rimpicciolimento2 {
    width: 70%;  /* Imposta una larghezza fissa per le immagini ridotte */
}

/* Parametri del libro per il titolo, autore e prezzo */
.parametriLibro {
    display: inline-block;
    margin-top: 10px;
}



/* Stili del titolo principale */
.titolo {
    text-align: center;
}
